<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <roleManager enabled="true" defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider" type="WcfServiceTCF.CustomRoleProvider, WcfServiceTCF" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding" />
    </protocolMapping>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="false" algorithmSuite="Basic128" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles"
roleProviderName="CustomProvider" />
          <serviceCredentials>
            <serviceCertificate findValue="CertificatTest"
            storeLocation="LocalMachine" storeName="TrustedPeople"
            x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
            customUserNamePasswordValidatorType="WcfServiceTCF.CustomUserNameValidator,
 WcfServiceTCF"/>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings configSource="conf\appSettings.xml"/>
</configuration>
