<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceTCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8087/ServiceTCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceTCF" contract="ServiceReference1.IServiceTCF"
                name="BasicHttpBinding_IServiceTCF" />
        </client>
    </system.serviceModel>
</configuration>